* {
  box-sizing: border-box;
}


body {
  width: 100%;
  max-width: 490px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  padding: 0 20px;
  font-family: 'Fabrik-Regular', Helvetica, Arial, sans-serif;
  color: #0A0E18;
  font-size: 20px;
}

header {
  width: 100%;
  padding: 0px 0px 30px;
}



.logo {
  height: 60px;
  width: 100px;
  margin-top: -30px;

  svg {
    width: 100%;
  }
}

.content {

  height: 100%;
}


h1 {
  font-size: 60px;
  font-weight: normal;
  margin: 0 0 30px;
}



h2 {
  font-size: 38px;
  font-weight: normal;
  margin: 0 0 30px;
}

p {
  line-height: 1.5;
}

.anexe {
  color: #656972;
}


@include media-query(600px) {
  body {
    display: block;
    min-height: 0;
  }

  .logo {
    margin-top: 60px;
  }
}
